.cla1 {
	float:left;
	margin:20px 3%;
}
.cla2 {
	float:left;
	margin:20px 3%;
}
.cla3 {
	float:left;
	margin:20px 3%;
}
.cla4 {
	float:left;
	margin:20px 3%;
}
.cla5 {
	float:left;
	margin:20px 3%;
}
.cla6 {
	float:left;
	margin:20px 3%;
}
