.all-1 {
	min-width:800px;
}
.box1 {
	width:680px;
	float:left;
}
.top1 {
	height:100px;
}
.top2 {
	height:100px;
}
.yun1 {
	float:left;
	margin:20px 1% 20px 2%;
}
.yun2 {
	float:left;
	margin:20px 0;
	width:100px;
}
.yun3 {
	float:left;
	margin:20px 1%;
}
.yun4 {
	float:left;
	margin:20px 0;
}
.box2 {
	float:left;
	padding:15px 0;
}